.button{
    padding: 10px;
    margin-top: 10px;
    background-color: #770e4d;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
    width: 20%;
}

.button:active{
    background-color: #fff;
    color: #770e4d;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}